backcall==0.2.0
decorator==4.4.2
HTMLParser==0.0.2
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
mwparserfromhell==0.5.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.1
six==1.15.0
traitlets==4.3.3
unicode==2.7
urllib3==1.25.10
wcwidth==0.2.5
